<a href="https://colab.research.google.com/github/iosvaldo/Python-Part-one-Jupyter-Notebook/blob/master/Python_Part_One_7_3_Class_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Strings, Integers, Floats

In [ ]:
"Hello World"
'Hello World'
"Hello World'
"Today is My dog Sam's 7th Birthday"

In [ ]:
1
-5
100
1200

In [ ]:
1.23
2.99
1.2

In [ ]:
#print fucntion

print("Hello World")

In [ ]:
print(3+3)
print(2*5)
print(100/10)
print(1.34+17)

In [ ]:
print(100/4,,8/3 "Hello","World")

In [ ]:
#Combining Data or Concatenation

print("He", "llo")
print("He"+"llo")
print(2*"Hello")
print(2*" Hello")
print(2*"Hello ")
print("2"+"2")

#int Function

print(int("2")+ int("2"))
#print(int("books")+ int("books")) ERROR!

In [ ]:
#Variables & Basic Rules

#must begin with a letter
#cant begin with a number But it can end with a number
#variable cant have spaces
#Should be related to the content

#variable examples:
#firstName, FirstName, First_Name

In [ ]:
firstName = "Sam"
print(firstName)
firstName = "Tom"
print(firstName)
firstName = "Sam "
print(firstName)
lastName = "Smith"
print(lastName)
lastName = "Robbin"
print(lastName)
age = "30"
print(age)
print(firstName, lastName)

In [ ]:
#Lets create a sentence using our Variables

# Sam Robbin is 30 years old.

print(firstName,lastName , "is", age , "years old.")
print(firstName+ lastName + " is "+ age + " years old.")

In [ ]:
# F'' for format

#Sam Robbins is 30 years old and has been living in NYC since 1990. 
#He has a pet named Max, and they both love eating pizza.

In [ ]:
year = 1990
petName = "Max"
favFood = "Pizza"
homeTown = "NYC"
print(homeTown)


print(f"{firstName} {lastName} is {age} years old, and has been living in {homeTown} since {year}. He has a pet named {petName}, and they both love eating {favFood}.")


aboutMe = f"{firstName} {lastName} is {age} years old, and has been living in {homeTown} since {year}. He has a pet named {petName}, and they both love eating {favFood}."
bio = f"{firstName} {lastName} is {age} years old, and has been living in {homeTown} since {year}. He has a pet named {petName}, and they both love eating {favFood}."
print(aboutMe)
print(bio)

In [ ]:
#Total Bill caculator

def billCalculator(ppl,bill,tip):
  share = (1 + tip)* bill/ppl
  share = round(share,2)
  return share
#print(billCalculator(6,210.12))
#print(billCalculator(5,100.17))
print(billCalculator(8,420.10,0.18))

In [ ]:
#input Function

animal = input("what is your favrite animal?")
print(animal)

age = input("What is your age?")
print(int(age)+3)